.yellow {
  color: yellow;
  background-color: #3273dc;
  text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px;
}

.grey {
  color: grey;
}

.yellow.favorite:hover {
  color: grey;
  background-color: inherit;
  text-shadow: inherit;
}

.grey.favorite:hover {
  color: yellow;
  background-color: #3273dc;
  text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px;
}

.messenger form {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.messenger div {
  display: flex;
  align-items: center;
  justify-content: center;
}
